<!DOCTYPE HTML>
<html lang="eng">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="{{meta.appName}}">
    <title>{{meta.title}}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{images.favicon.x16}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{images.favicon.x32}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{images.favicon.x96}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{images.favicon.x192}}">

    <link rel="index" href="{{rootUrl}}">
    <link rel="canonical" href="{{rootUrl}}">
    <meta name="referrer" content="no-referrer">
    <link rel="manifest" href="manifest.json">
    <link rel="author" href="humans.txt">
    <link rel="me" href="{{kurt.email}}">
    <link rel="me" href="{{kurt.website}}" type="text/html">
    <link rel="search" href="open-search.xml" type="application/opensearchdescription+xml" title="Search Title">

    <meta name="theme-color" content="{{theme.colour}}">
    <meta name="subject" content="{{meta.description}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="rating" content="General">
    <meta name="robots" content="index,follow">

    <!-- Google -->
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Apple -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{images.apple.x57}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{images.apple.x60}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{images.apple.x72}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{images.apple.x76}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{images.apple.x114}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{images.apple.x120}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{images.apple.x144}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{images.apple.x152}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{images.apple.x180}}">
    <link rel="mask-icon" href="{{images.maskIcon}}" color="{{theme.maskColour}}">
    <!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
    <meta name="apple-mobile-web-app-title" content="{{meta.appName}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{twitter.handle}}">
    <meta name="twitter:creator" content="{{kurt.twitter}}">
    <meta name="twitter:url" content="{{rootUrl}}">
    <meta name="twitter:title" content="{{meta.appName}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{images.twitter}}">
    <meta name="twitter:image:alt" content="{{twitter.imageAlt}}">

    <!-- Facebook -->
    <meta property="og:url" content="{{rootUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:image" content="{{images.facebook}}">
    <meta property="og:image:alt" content="{{twitter.imageAlt}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:site_name" content="{{meta.title}}">
    <meta property="og:locale" content="en_UK">
    <meta property="article:author" content="{{kurt.name}}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="msapplication-TileColor" content="{{theme.maskColour}}">

    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    {{#each assistantApps}}
    <link rel="preload" href="{{icon}}" as="image">
    {{/each}}

    {{!-- JSON-LD --}}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "SoftwareApplication",
            "name": "{{kurt.name}}",
            "url": "{{rootUrl}}",
            "about": "{{meta.description}}",
            "description": "{{meta.description}}",
            "image": "{{images.favicon.x192}}",
            "applicationCategory": "Application",
            "operatingSystem": "Android Lollipop, iOS, Chrome, Firefox, Opera, Internet Explorer, Edge",
            "softwareVersion": "{{version}}",
            "version": "{{version}}",
            "author": {
                "@type": "Person",
                "name": "{{kurt.name}}",
                "givenName": "{{kurt.name}}",
                "familyName": "{{kurt.name}}",
                "additionalName": "{{kurt.additionalName}}",
                "url": "{{kurt.website}}",
                "image": "{{kurt.image}}",
                "description": "{{meta.description}}",
                "jobTitle": "Software Engineer"
            },
            "creator": {
                "@type": "Person",
                "name": "{{kurt.name}}",
                "givenName": "{{kurt.name}}",
                "familyName": "{{kurt.name}}",
                "additionalName": "{{kurt.additionalName}}",
                "url": "{{kurt.website}}",
                "image": "{{kurt.image}}",
                "description": "{{meta.description}}",
                "jobTitle": "Software Engineer"
            },
            "offers": {
                "@type": "offer",
                "price": "0",
                "priceCurrency": "USD",
                "name": "{{meta.appName}}",
                "url": "{{rootUrl}}",
                "image": "{{images.favicon.x192}}",
                "description": "{{meta.description}}",
                "itemOffered": {
                    "@type": "service",
                    "name": "{{meta.appName}}",
                    "brand": {
                        "@type": "brand",
                        "name": "{{meta.appName}}",
                        "url": "{{rootUrl}}",
                        "logo": "{{images.favicon.x192}}",
                        "image": "{{images.favicon.x192}}",
                        "description": "{{meta.description}}"
                    },
                    "url": "{{rootUrl}}",
                    "logo": "{{images.favicon.x192}}",
                    "image": "{{images.favicon.x192}}",
                    "description": "{{meta.description}}",
                    "offers": [
                        {{#each assistantApps as |app index|}}
                            {{#if @index}},{{/if}}
                            {
                                "@type": "offer",
                                "price": "0",
                                "priceCurrency": "USD",
                                "name": "{{app.title}}",
                                "url": "{{app.link}}",
                                "image": "{{app.image}}",
                                "description": "{{app.description}}"
                            }
                        {{/each}}
                    ]
                }
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "bestRating": "5",
                "ratingCount": "1",
                "reviewCount": "5",
                "ratingValue": "5"
            },
            "inLanguage": "en",
            "dateCreated": "{{date}}",
            "dateModified": "{{date}}",
            "datePublished": "{{date}}"
        }
    </script>
</head>

<body class="is-preload">
    <div id="page-wrapper">
        <header id="header" class="alt">
            <h1>
                <a href="/" class="font-weight-light" title="Assistant for XYZ">Assistant for <span
                        class="apps-word-slider font-weight-heavy"></span></a>
            </h1>
            <nav>
                <a href="#menu" title="Menu">Menu</a>
            </nav>
        </header>
        <nav id="menu">
            <div class="inner">
                <ul class="links">
                    <li><a href="/" title="Home">Home</a></li>
                    <li>
                        <a href="{{urlref kurt.website}}" title="{{kurt.name}}" target="_blank"
                            rel="noopener noreferrer">{{kurt.name}}</a>
                    </li>
                    {{#each assistantApps}}
                    {{#unless @last}}
                    <li>
                        <a href="{{urlref link}}" title="{{title}}" target="_blank"
                            rel="noopener noreferrer">{{title}}</a>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
                <a href="#" class="close" title="close">Close</a>
            </div>
        </nav>
        <section id="banner">
            <div class="inner">
                <div class="logo">
                    <div class="apps-image-slider"></div>
                </div>
                <h2 class="font-weight-light">Assistant for <span class="apps-word-slider font-weight-heavy"></span>
                </h2>
                <p>{{subtitle}}</p>
            </div>
        </section>
        <section id="wrapper">
            {{#each assistantApps}}
            {{> components/appSection }}

            {{/each}}
            <section class="wrapper primary-colour {{sectionclass assistantApps.length}}">
                <div class="inner">
                    <h2 class="major">{{additional}}</h2>
                    <p>{{additionalDescription}}</p>
                    <section class="features">
                        {{#each features}}
                        {{> components/appFeature }}

                        {{/each}}
                    </section>
                    <!-- <ul class="actions">
						<li><a href="#" class="button">Browse All</a></li>
					</ul> -->
                </div>
            </section>
        </section>
        <section id="footer">
            <div class="inner">
                <h2 class="major">{{footer}}</h2>
                <p>{{footerDescription}}</p>
                <form id="contact_form">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input id="submit" type="submit" value="Send Message" /></li>
                    </ul>
                </form>
                <ul class="contact">
                    {{#each links}}
                    <li class="{{class}}"><a href="{{urlref url}}" title="{{alt}}" target="_blank"
                            rel="noopener noreferrer">{{title}}</a>
                    </li>
                    {{/each}}
                </ul>
                <div id="success_message">
                    <h2>Successfully submitted contact form!</h2>
                </div>
                <div id="error_message">
                    <h2>Sorry!! Something went wrong, please try sending an email instead.</h2>
                </div>
                <ul class="copyright">
                    <li>&copy; {{meta.appName}}. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net" title="html5up" target="_blank"
                            rel="noopener noreferrer">HTML5 UP</a></li>
                    <li>{{version}}</li>
                </ul>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="/dist/bundle.js"></script>
</body>

</html>