<!DOCTYPE HTML>
<html lang="eng">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="{{meta.appName}}">
    <title>{{meta.title}}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{images.favicon.x16}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{images.favicon.x32}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{images.favicon.x96}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{images.favicon.x192}}">

    <link rel="index" href="{{rootUrl}}">
    <link rel="canonical" href="{{rootUrl}}">
    <meta name="referrer" content="no-referrer">
    <link rel="manifest" href="manifest.json">
    <link rel="author" href="humans.txt">
    <link rel="me" href="{{kurt.email}}">
    <link rel="me" href="{{kurt.website}}" type="text/html">
    <link rel="search" href="open-search.xml" type="application/opensearchdescription+xml" title="Search Title">

    <meta name="theme-color" content="{{theme.colour}}">
    <meta name="subject" content="{{meta.description}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="rating" content="General">
    <meta name="robots" content="index,follow">

    <!-- Google -->
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Apple -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{images.apple.x57}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{images.apple.x60}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{images.apple.x72}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{images.apple.x76}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{images.apple.x114}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{images.apple.x120}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{images.apple.x144}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{images.apple.x152}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{images.apple.x180}}">
    <link rel="mask-icon" href="{{images.maskIcon}}" color="{{theme.maskColour}}">
    <!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
    <!-- <meta name="apple-mobile-web-app-title" content="App Title"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{twitter.handle}}">
    <meta name="twitter:creator" content="{{kurt.twitter}}">
    <meta name="twitter:url" content="{{rootUrl}}">
    <meta name="twitter:title" content="{{meta.appName}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{images.twitter}}">
    <meta name="twitter:image:alt" content="{{twitter.imageAlt}}">

    <!-- Facebook -->
    <meta property="og:url" content="{{rootUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:image" content="{{images.facebook}}">
    <meta property="og:image:alt" content="{{twitter.imageAlt}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:site_name" content="{{meta.title}}">
    <meta property="og:locale" content="en_UK">
    <meta property="article:author" content="{{kurt.name}}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="msapplication-TileColor" content="{{theme.maskColour}}">

    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    {{#each assistantApps}}
    <link rel="preload" href="{{icon}}" as="image">
    {{/each}}
</head>

<body class="is-preload">
    <div id="page-wrapper">
        <header id="header" class="alt">
            <h1>
                <a href="/" class="font-weight-light" title="Assistant for XYZ">Assistant for <span
                        class="apps-word-slider font-weight-heavy"></span></a>
            </h1>
            <nav>
                <a href="#menu" title="Menu">Menu</a>
            </nav>
        </header>
        <nav id="menu">
            <div class="inner">
                <ul class="links">
                    <li><a href="/" title="Home">Home</a></li>
                    <li>
                        <a href="https://kurtlourens.com?ref=AssistantApps" title="Kurt Lourens" target="_blank"
                            rel="noopener noreferrer">Kurt Lourens</a>
                    </li>
                    {{#each assistantApps}}
                    <li>
                        <a href="{{link}}?ref=AssistantApps" title="{{title}}" target="_blank"
                            rel="noopener noreferrer">{{title}}</a>
                    </li>
                    {{/each}}
                </ul>
                <a href="#" class="close" title="close">Close</a>
            </div>
        </nav>
        <section id="banner">
            <div class="inner">
                <div class="logo">
                    <div class="apps-image-slider"></div>
                </div>
                <h2 class="font-weight-light">Assistant for <span class="apps-word-slider font-weight-heavy"></span>
                </h2>
                <p>{{subtitle}}</p>
            </div>
        </section>
        <section id="wrapper">
            {{#each assistantApps}}
            <section class="wrapper spotlight {{sectionStyle}}">
                <div class="inner">
                    <a href="{{link}}?ref=AssistantApps" title="{{title}}" target="_blank" rel="noopener noreferrer"
                        class="image">
                        <img src="{{image}}" alt="{{title}}" />
                    </a>
                    <div class="content">
                        <h2 class="major font-weight-light">
                            Assistant for <span class="font-weight-heavy">{{game}}</span>
                        </h2>
                        <p>{{description}}</p>
                        {{#each links}}
                        <a href="{{url}}?ref=AssistantApps" class="{{class}}" title="{{title}}" target="_blank"
                            rel="noopener noreferrer">{{title}}</a>
                        {{/each}}
                    </div>
                </div>
            </section>
            {{/each}}
            <section class="wrapper spotlight style1">
                <div class="inner">
                    <a href="#" title="Assistant for XYZ" class="image" target="_blank" rel="noopener noreferrer">
                        <img src="./assets/img/unknown.png" alt="Assistant for XYZ" />
                    </a>
                    <div class="content">
                        <h2 class="major">Coming soon</h2>
                        <p>Yet another Assistant app is under development. Can you guess what game it will be
                            about? Let us know what you think we are working on 😁</p>
                    </div>
                </div>
            </section>
            <section class="wrapper alt primary-colour style1">
                <div class="inner">
                    <h2 class="major">Additional work</h2>
                    <p>Working on these projects has opened up opportunities to talk to other community developers, host
                        streams and start organisations all aimed at entertaining and assisting gamers enjoy their games
                        to the fullest!!</p>
                    <section class="features">
                        {{#each features}}
                        <article>
                            <a href="{{link}}" class="image" title="{{title}}" target="_blank"
                                rel="noopener noreferrer">
                                <img src="{{image}}" alt="{{title}}" />
                            </a>
                            <h3 class="major">{{title}}</h3>
                            <p>{{description}}</p>
                            {{#each subLinks}}
                            <a href="{{url}}" class="special" title="{{title}}" target="_blank"
                                rel="noopener noreferrer">{{title}}</a>
                            {{/each}}
                        </article>
                        {{/each}}
                    </section>
                    <!-- <ul class="actions">
						<li><a href="#" class="button">Browse All</a></li>
					</ul> -->
                </div>
            </section>
        </section>
        <section id="footer">
            <div class="inner">
                <h2 class="major">Get in touch</h2>
                <p>Feel free to get in contact with us! we have a Discord server if you would like to talk directly to
                    us. Otherwise you can use the form below and we will get back to you as soon as we can.</p>
                <form id="contact_form">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input id="submit" type="submit" value="Send Message" /></li>
                    </ul>
                </form>
                <ul class="contact">
                    {{#each links}}
                    <li class="{{class}}"><a href="{{url}}?ref=AssistantApps" title="{{alt}}" target="_blank"
                            rel="noopener noreferrer">{{title}}</a>
                    </li>
                    {{/each}}
                </ul>
                <div id="success_message">
                    <h2>Successfully submitted contact form!</h2>
                </div>
                <div id="error_message">
                    <h2>Sorry!! Something went wrong, please try sending an email instead.</h2>
                </div>
                <ul class="copyright">
                    <li>&copy; {{meta.appName}}. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net" title="html5up" target="_blank"
                            rel="noopener noreferrer">HTML5 UP</a></li>
                </ul>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="/dist/bundle.js"></script>
</body>

</html>