<article>
    <a href="{{link}}" class="image" title="{{title}}" target="_blank" rel="noopener noreferrer">
        <img src="{{image}}" alt="{{title}}" />
    </a>
    <h3 class="major">{{title}}</h3>
    <p>{{description}}</p>
    {{#each subLinks}}
    <a href="{{url}}" class="special" title="{{title}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
    {{/each}}
</article>