<article class="col-6 col-12-large col-12-medium col-12-small col-12-xsmall work-item">
    <div class="card">
        <div class="top-right">
            <img src="assets/images/loader.svg" data-src="{{image}}" class="company lazy invert" alt="{{company}}"><br>
            {{#if timePeriodTextAlt}}
            <span class="tool" data-tip="{{timePeriodTextAlt}}">
                <p class="label {{timePeriodClass}}">{{timePeriodText}}</p>
            </span>
            {{else}}
            <p class="label {{timePeriodClass}}">{{timePeriodText}}</p>
            {{/if}}
        </div>
        <h2><strong>{{title}}</strong><small>{{location}}</small>
            <p>{{content}}</p>
            <div class="pretty-button-container">
                {{#each buttons}}
                <a href="{{url}}" target="_blank" rel="noopener noreferrer" class="pretty-button -blue" title="{{alt}}"
                    alt="{{alt}}">{{text}}</a>
                {{/each}}
            </div>
    </div>
</article>